<!DOCTYPE html><!--[if IE]>  <html class="stl_ie"> <![endif]-->
<html>
	<head>
		<meta charset="utf-8" />
		<title>
		</title>
		<link rel="stylesheet" type="text/css" href="${ctxStatic}/common/1_1_files/style.css" />
	</head>
	<body>
		<div class="stl_ stl_02">
			<div class="stl_03">
				<object data="${ctxStatic}/common/1_1_files/img_01.svg" type="image/svg+xml" class="stl_04" style="position:absolute; width:49.5833em; height:70.0833em;">
					<embed src="${ctxStatic}/common/1_1_files/img_01.svg" type="image/svg+xml" />
				</object>
			</div>
			<div class="stl_view">
				<div class="stl_05 stl_06">
					<div class="stl_01" style="left:17.8142em;top:4.2582em;"><span class="stl_07 stl_08 stl_09">机动车牌证申请表 &nbsp;</span></div>
					<div class="stl_01" style="left:20.9942em;top:8.4695em;"><span class="stl_10 stl_08 stl_11" style="font-weight:bold;">申请人信息栏 &nbsp;</span></div>
					<div class="stl_01" style="left:8.5217em;top:11.5517em;"><span class="stl_12 stl_08 stl_13">姓名/名称 &nbsp;</span></div>
					<div class="stl_01" style="left:8.7317em;top:14.8017em;"><span class="stl_12 stl_08 stl_14">邮寄地址 &nbsp;</span></div>
					<div class="stl_01" style="left:8.7317em;top:18.0517em;"><span class="stl_12 stl_08 stl_14">手机号码 &nbsp;</span></div>
					<div class="stl_01" style="left:28.9258em;top:11.5517em;"><span class="stl_12 stl_08 stl_14">邮政编码 &nbsp;</span></div>
					<div class="stl_01" style="left:16.6042em;top:11.4756em;"><span class="stl_15 stl_08 stl_14">${customer.name} &nbsp;</span></div>
					<div class="stl_01" style="left:38.4783em;top:11.4756em;"><span class="stl_15 stl_08 stl_14">065000 &nbsp;</span></div>
					<div class="stl_01" style="left:4.51em;top:12.2217em;"><span class="stl_12 stl_08 stl_14">机</span></div>
					<div class="stl_01" style="left:4.51em;top:13.2517em;"><span class="stl_12 stl_08 stl_14">动</span></div>
					<div class="stl_01" style="left:4.51em;top:14.2817em;"><span class="stl_12 stl_08 stl_14">车</span></div>
					<div class="stl_01" style="left:4.51em;top:15.3117em;"><span class="stl_12 stl_08 stl_14">所</span></div>
					<div class="stl_01" style="left:4.51em;top:16.3417em;"><span class="stl_12 stl_08 stl_14">有</span></div>
					<div class="stl_01" style="left:4.51em;top:17.3717em;"><span class="stl_12 stl_08 stl_14">人</span></div>
					<div class="stl_01" style="left:25.2442em;top:14.7256em;"><span class="stl_15 stl_08 stl_14">${customer.address} &nbsp;</span></div>
					<div class="stl_01" style="left:15.7742em;top:18.0517em;"><span class="stl_16 stl_08 stl_09">${customer.phoneNumber} &nbsp;</span></div>
					<div class="stl_01" style="left:28.9258em;top:18.0517em;"><span class="stl_12 stl_08 stl_14">固定电话 &nbsp;</span></div>
					<div class="stl_01" style="left:4.51em;top:20.6017em;"><span class="stl_12 stl_08 stl_14">代</span></div>
					<div class="stl_01" style="left:4.51em;top:21.6342em;"><span class="stl_12 stl_08 stl_14">理</span></div>
					<div class="stl_01" style="left:4.51em;top:22.6642em;"><span class="stl_12 stl_08 stl_14">人</span></div>
					<div class="stl_01" style="left:8.5217em;top:21.6442em;"><span class="stl_12 stl_08 stl_13">姓名/名称 &nbsp;</span></div>
					<div class="stl_01" style="left:16.9542em;top:21.6442em;"><span class="stl_12 stl_08 stl_14">${customer.agentName} &nbsp;</span></div>
					<div class="stl_01" style="left:23.0942em;top:21.6442em;"><span class="stl_12 stl_08 stl_14">手机号码 &nbsp;</span></div>
					<div class="stl_01" style="left:31.9258em;top:21.6442em;"><span class="stl_16 stl_08 stl_09">${customer.agentPhone} &nbsp;</span></div>
					<div class="stl_01" style="left:20.9942em;top:25.352em;"><span class="stl_10 stl_08 stl_11" style="font-weight:bold;">申请业务事项 &nbsp;</span></div>
					<div class="stl_01" style="left:4.922em;top:29.0242em;"><span class="stl_12 stl_08 stl_14">号牌种类 &nbsp;</span></div>
					<div class="stl_01" style="left:26.9558em;top:29.0242em;"><span class="stl_12 stl_08 stl_14">号牌号码 &nbsp;</span></div>
					<div class="stl_01" style="left:12.4117em;top:28.9481em;"><span class="stl_15 stl_08 stl_14">${customer.carType} &nbsp;</span></div>
					<div class="stl_01" style="left:33.6958em;top:28.9481em;"><span class="stl_15 stl_08 stl_14">${customer.plateNumber} &nbsp;</span></div>
					<div class="stl_01" style="left:4.922em;top:32.1942em;"><span class="stl_12 stl_08 stl_14">申请事项 &nbsp;</span></div>
					<div class="stl_01" style="left:25.0942em;top:32.1942em;"><span class="stl_12 stl_08 stl_14">申请原因及明细 &nbsp;</span></div>
					<div class="stl_01" style="left:6.242em;top:35.0142em;"><span class="stl_12 stl_08 stl_14">□补领 &nbsp;</span></div>
					<div class="stl_01" style="left:6.242em;top:37.5759em;"><span class="stl_12 stl_08 stl_14">□换领 &nbsp;</span></div>
					<div class="stl_01" style="left:6.242em;top:40.1359em;"><span class="stl_12 stl_08 stl_14">□补领 &nbsp;</span></div>
					<div class="stl_01" style="left:6.242em;top:42.6959em;"><span class="stl_12 stl_08 stl_14">□换领 &nbsp;</span></div>
					<div class="stl_01" style="left:6.242em;top:45.2559em;"><span class="stl_12 stl_08 stl_14">□申领 &nbsp;</span></div>
					<div class="stl_01" style="left:6.242em;top:47.8159em;"><span class="stl_12 stl_08 stl_14">□补领 &nbsp;</span></div>
					<div class="stl_01" style="left:6.272em;top:50.3759em;"><span class="stl_12 stl_08 stl_14">□换领 &nbsp;</span></div>
					<div class="stl_01" style="left:6.292em;top:52.8756em;"><span class="stl_17 stl_18 stl_14"></span><span class="stl_12 stl_08 stl_14">申请 &nbsp;</span></div>
					<div class="stl_01" style="left:6.242em;top:55.4984em;"><span class="stl_12 stl_08 stl_14">□补领 &nbsp;</span></div>
					<div class="stl_01" style="left:6.272em;top:58.0584em;"><span class="stl_12 stl_08 stl_14">□换领 &nbsp;</span></div>
					<div class="stl_01" style="left:14.1917em;top:35.0142em;"><span class="stl_12 stl_08 stl_14">□丢失 &nbsp;</span></div>
					<div class="stl_01" style="left:21.6842em;top:35.0142em;"><span class="stl_12 stl_08 stl_14">□灭失 &nbsp;</span></div>
					<div class="stl_01" style="left:28.1058em;top:35.0142em;"><span class="stl_12 stl_08 stl_14">□前号牌 &nbsp;</span></div>
					<div class="stl_01" style="left:28.1058em;top:37.5759em;"><span class="stl_12 stl_08 stl_14">□后号牌 &nbsp;</span></div>
					<div class="stl_01" style="left:28.1058em;top:40.1359em;"><span class="stl_12 stl_08 stl_14">□灭失 &nbsp;</span></div>
					<div class="stl_01" style="left:36.9683em;top:35.0542em;"><span class="stl_12 stl_08 stl_14">□后号牌 &nbsp;</span></div>
					<div class="stl_01" style="left:3.61em;top:35.7742em;"><span class="stl_12 stl_08 stl_14">号</span></div>
					<div class="stl_01" style="left:3.61em;top:36.8059em;"><span class="stl_12 stl_08 stl_14">牌</span></div>
					<div class="stl_01" style="left:14.1917em;top:37.5759em;"><span class="stl_12 stl_08 stl_14">□前号牌 &nbsp;</span></div>
					<div class="stl_01" style="left:14.1917em;top:40.1359em;"><span class="stl_12 stl_08 stl_14">□丢失 &nbsp;</span></div>
					<div class="stl_01" style="left:3.61em;top:40.3859em;"><span class="stl_12 stl_08 stl_14">行</span></div>
					<div class="stl_01" style="left:3.61em;top:41.4159em;"><span class="stl_12 stl_08 stl_14">驶</span></div>
					<div class="stl_01" style="left:3.61em;top:42.4459em;"><span class="stl_12 stl_08 stl_14">证</span></div>
					<div class="stl_01" style="left:3.61em;top:46.2659em;"><span class="stl_12 stl_08 stl_14">登</span></div>
					<div class="stl_01" style="left:3.61em;top:47.2959em;"><span class="stl_12 stl_08 stl_14">记</span></div>
					<div class="stl_01" style="left:3.61em;top:48.3259em;"><span class="stl_12 stl_08 stl_14">证</span></div>
					<div class="stl_01" style="left:3.61em;top:49.3559em;"><span class="stl_12 stl_08 stl_14">书</span></div>
					<div class="stl_01" style="left:14.1917em;top:47.8159em;"><span class="stl_12 stl_08 stl_14">□丢失 &nbsp;</span></div>
					<div class="stl_01" style="left:21.6842em;top:47.8159em;"><span class="stl_12 stl_08 stl_14">□灭失 &nbsp;</span></div>
					<div class="stl_01" style="left:28.1058em;top:47.8159em;"><span class="stl_12 stl_08 stl_14">□未获得 &nbsp;</span></div>
					<div class="stl_01" style="left:3.61em;top:52.9184em;"><span class="stl_12 stl_08 stl_14">检</span></div>
					<div class="stl_01" style="left:3.61em;top:53.9484em;"><span class="stl_12 stl_08 stl_14">验</span></div>
					<div class="stl_01" style="left:3.61em;top:54.9784em;"><span class="stl_12 stl_08 stl_14">合</span></div>
					<div class="stl_01" style="left:3.61em;top:56.0084em;"><span class="stl_12 stl_08 stl_14">格</span></div>
					<div class="stl_01" style="left:3.61em;top:57.0384em;"><span class="stl_12 stl_08 stl_14">标</span></div>
					<div class="stl_01" style="left:3.61em;top:58.0684em;"><span class="stl_12 stl_08 stl_14">志</span></div>
					<div class="stl_01" style="left:14.3617em;top:52.8756em;"><span class="stl_17 stl_18 stl_14">${customer.local}</span><span class="stl_12 stl_08 stl_14">在登记地车辆管理所申请 &nbsp;</span></div>
					<div class="stl_01" style="left:28.1058em;top:52.9384em;"><span class="stl_17 stl_08 stl_14">${customer.notLocal}</span><span class="stl_12 stl_08 stl_14">在登记地以外车辆管理所申请 &nbsp;</span></div>
					<div class="stl_01" style="left:14.1917em;top:55.4984em;"><span class="stl_12 stl_08 stl_14">□丢失 &nbsp;</span></div>
					<div class="stl_01" style="left:28.1058em;top:55.4984em;"><span class="stl_12 stl_08 stl_14">□灭失 &nbsp;</span></div>
					<div class="stl_01" style="left:20.4833em;top:60.3684em;"><span class="stl_12 stl_08 stl_14">机动车所有人（代理人）签字： &nbsp;</span></div>
					<div class="stl_01" style="left:3.78em;top:60.6523em;"><span class="stl_19 stl_08 stl_14">机动车所有人及代理人对申请材料 &nbsp;</span></div>
					<div class="stl_01" style="left:3.28em;top:61.872em;"><span class="stl_19 stl_08 stl_14">的真实有效性负责。 &nbsp;</span></div>
					<div class="stl_01" style="left:4.78em;top:63.092em;"><span class="stl_19 stl_08 stl_14">自新机动车牌证领取之日起，原 &nbsp;</span></div>
					<div class="stl_01" style="left:3.28em;top:64.312em;"><span class="stl_19 stl_08 stl_14">机动车牌证作废，不得继续使用。 &nbsp;</span></div>
					<div class="stl_01" style="left:36.0858em;top:65.1081em;"><span class="stl_16 stl_08 stl_09">${customer.date} &nbsp;</span></div>
					<div class="stl_01" style="left:6.882em;top:66.4701em;"><span class="stl_12 stl_08 stl_14">车管所提示：此表免费打印。打印单位：三河市兴悦达机动车检测服务有限公司 &nbsp;</span></div>
				</div>
			</div>
		</div>


		<script>

			window.onload = function(){
				window.print();
				//   js.closeCurrentTabPage(function(contentWindow){
				//       contentWindow.page();
				//   });
			}
		</script>
	</body>
</html>