<% layout('/layouts/default.html', {title: '检测单管理', libs: ['validate','dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(checkBill.isNewRecord ? '新增检测单' : '编辑检测单')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<input type="hidden" id="itemData" value=""/>
		<#form:form id="inputForm" model="${checkBill}" action="${ctx}/check/checkBill/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('检测单号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="billId" value="${checkBill.billId}" readonly="true" maxlength="64" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('车牌号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="plateNumber" path="plateNumber" maxlength="20" class="form-control required carNumber"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('客户编号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="customerId" readonly="true" path="customerId" maxlength="64" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('客户名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="customerName" readonly="true" path="customerName" maxlength="100" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('联系方式')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="customerPhoneNumber" readonly="true" path="customerPhoneNumber" maxlength="20" class="form-control mobile"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('客户地址')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="customerAddress" readonly="true" path="customerAddress" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('车型')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="carType" readonly="true" path="carType" maxlength="100" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('应收金额')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="totalAmt" path="totalAmt" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('备注信息')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" rows="4" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<h4 class="form-unit">${text('检测项目选择')}</h4>
				<div class="ml10 mr10">
					<table id="checkBillItemDataGrid"></table>
					<% if (hasPermi('check:checkBill:edit')){ %>
						<a href="#" id="checkBillItemDataGridAddRowBtn" class="btn btn-primary btn-sm mt10 mb10"><i class="fa fa-plus"></i> ${text('增行')}</a>
					<% } %>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('check:checkBill:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>

<script>
//初始化检测项目选择DataGrid对象
$("#checkBillItemDataGrid").dataGrid({

	data: ${toJson(checkBill.checkBillItemList)},
	datatype: "local", // 设置本地数据
	autoGridHeight: function(){return 'auto'}, // 设置自动高度
	
	// 设置数据格列
	columnModel: [
		{header:'状态', name:'status', editable:true, hidden:true},
		{header:'主键', name:'id', editable:true, hidden:true},
		{header:'${text("维修单编号")}', name:'billId.id', editable:true, hidden:true},
		{header:'${text("收费项目")}', name:'itemName', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'200', 'class':'form-control'},readonly:true},
		{header:'${text("项目编号")}', name:'itemId', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'64', 'class':'form-control'}},
		{header:'${text("数量")}', name:'num', width:150, editable:true, edittype:'text', editoptions:{'maxlength':'11', 'class':'form-control digits'}},
		{header:'${text("价格")}', name:'price', width:150, editable:true, edittype:'text', editoptions:{'class':'form-control number'}},
		{header:'${text("操作")}', name:'actions', width:80, sortable:false, fixed:true, formatter: function(val, obj, row, act){
			var actions = [];
			if (val == 'new'){
				actions.push('<a href="#" onclick="js.confirm(\'${text("你确认要删除这条数据吗？")}\', function(){reducePrice(\''+obj.rowId+'\');$(\'#checkBillItemDataGrid\').dataGrid(\'delRowData\',\''+obj.rowId+'\');});return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
			}else{
				actions.push('<a href="#" onclick="js.confirm(\'${text("你确认要删除这条数据吗？")}\', function(){reducePrice(\''+obj.rowId+'\');$(\'#checkBillItemDataGrid\').dataGrid(\'setRowData\',\''+obj.rowId+'\',null,{display:\'none\'});$(\'#'+obj.rowId+'_status\').val(\''+Global.STATUS_DELETE+'\');});return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
			}
			return actions.join('');
		}, editoptions: {defaultValue: 'new'}}
	],
	
	// 编辑格参数
	editGrid: true,				// 是否是编辑格
	editGridInitRowNum: 0,		// 编辑格的初始化新增行数

	
	// 编辑格的提交数据参数
	editGridInputFormListName: 'checkBillItemList', // 提交的数据列名
	editGridInputFormListAttrs: 'status,id,billId.id,itemName,itemId,num,price,', // 提交数据列的属性字段


		// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});

$("#plateNumber").blur(function () {
	var plateNum = $("#plateNumber").val();
	if(plateNum === '') return;
	js.ajaxSubmit('${ctx}/customer/customer/getByPlateNum', {"plateNumber":plateNum}, function(data){
		if(data.result == 'true'){
			$("#customerId").val(data.data.id);
			$("#customerName").val(data.data.name);
			$("#customerPhoneNumber").val(data.data.phoneNumber);
			$("#customerAddress").val(data.data.address);
			$("#carType").val(data.data.carType);
		}else {
			js.alert('客户不存在，请先添加客户');
            layer.open({
				type: 2,
				title: '新增客户',
				maxmin: true,
				area: ['800px', '500px'],
                content: '${ctx}/customer/customer/form?plateNumber=' + plateNum,
				end: function(){

				}
			});
		}
	});
});

$("#checkBillItemDataGridAddRowBtn").click(function () {
	layer.open({
		btn: ['关闭'],
		type: 2,
		title: '新增客户',
		maxmin: true,
		area: ['800px', '500px'],
		content: '${ctx}/charging/chargingItems/listForSelect',
		end: function () {
			var item = $('#itemData').val()
			var itemJson = JSON.parse(item);
			var rowId = $("#checkBillItemDataGrid").jqGrid('getGridParam', 'selrow');

			var itemName_element = getElement(rowId,'itemName');
			$(itemName_element).val(itemJson.itemName);
			$(itemName_element).attr('readonly','readonly');


			var itemId_element = getElement(rowId,'itemId');
			$(itemId_element).val(itemJson.id);
			$(itemId_element).attr('readonly','readonly');

			var num_element = getElement(rowId,'num');
			$(num_element).val(itemJson.num);
			$(num_element).attr('readonly','readonly');

			var price_element = getElement(rowId,'price');
			$(price_element).val(itemJson.price)
			$(price_element).attr('readonly','readonly');

			addPrice(itemJson.price);
		},
	});
});

function getElement(rowId, property) {
	return '#' + rowId + '_' + property;
}

function addPrice(p) {
	var tmpPrice = Number(p);
	var totalAmt = $('#totalAmt').val();
	if (totalAmt != '') {
		var tmp = Number(totalAmt);
		totalAmt = tmp + tmpPrice;
	} else {
		totalAmt = tmpPrice;
	}
	totalAmt.toFixed(2);
	$('#totalAmt').val(totalAmt);
}

function reducePrice(rowId) {
	var ele = getElement(rowId,'price');
	var p = $(ele).val();

	var tmpPrice = Number(p);
	var totalAmt = $('#totalAmt').val();
	if (totalAmt != '') {
		var tmp = Number(totalAmt);
		totalAmt = tmp - tmpPrice;
	} else {
		totalAmt = tmpPrice;
	}
	totalAmt.toFixed(2);
	$('#totalAmt').val(totalAmt);
}
</script>