<% layout('/layouts/default.html', {title: '检测单管理', libs: ['validate','dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(checkBill.isNewRecord ? '新增检测单' : '编辑检测单')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<input type="hidden" id="itemData" value=""/>
		<#form:form id="inputForm" model="${checkBill}" action="${ctx}/check/checkBill/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('检测单号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="billId" value="${checkBill.billId}" readonly="true" maxlength="64" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('车牌号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="plateNumber" path="plateNumber" readonly="true" maxlength="20" class="form-control required carNumber"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('客户编号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="customerId" readonly="true" path="customerId" maxlength="64" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('客户名称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="customerName" readonly="true" path="customerName" maxlength="100" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('联系方式')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="customerPhoneNumber" readonly="true" path="customerPhoneNumber" maxlength="20" class="form-control mobile"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('客户地址')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="customerAddress" readonly="true" path="customerAddress" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('车型')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="carType" readonly="true" path="carType" maxlength="100" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('应收金额')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="totalAmt" path="totalAmt" readonly="true" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('备注人')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="remarkName" path="remarkName" readonly="true"  class="form-control"/>
							</div>
						</div>
					</div>

					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('代理人')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input id="agentName" path="agentName" readonly="true" class="form-control"/>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('备注信息')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" rows="4" readonly="true" maxlength="500" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<h4 class="form-unit">${text('检测项目')}</h4>
				<div class="ml10 mr10">
					<table id="checkBillItemDataGrid"></table>
				</div>

				<div class="box-footer">
					<div class="row">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('返回列')}</button>
						</div>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>

<script>
//初始化检测项目选择DataGrid对象
$("#checkBillItemDataGrid").dataGrid({

	data: ${toJson(checkBill.checkBillItemList)},
	datatype: "local", // 设置本地数据
	autoGridHeight: function(){return 'auto'}, // 设置自动高度
	
	// 设置数据格列
	columnModel: [
		{header:'状态', name:'status', editable:true, hidden:true},
		{header:'主键', name:'id', editable:true, hidden:true},
		{header:'${text("维修单编号")}', name:'billId.id',  hidden:true},
		{header:'${text("收费项目")}', name:'itemName', width:150, edittype:'text',readonly:true},
		{header:'${text("项目编号")}', name:'itemId', width:150,  edittype:'text'},
		{header:'${text("数量")}', name:'num', width:150,  edittype:'text'},
		{header:'${text("价格")}', name:'price', width:150,  edittype:'text'},
	],

		// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});

</script>