<% layout('/layouts/default.html', {title: '检测单管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('检测单管理')}
			</div>
			<div class="box-tools pull-right">
				<% if(hasPermi('check:checkBill:edit')){ %>
					<a href="${ctx}/check/checkBill/form" class="btn btn-default btnTool" title="${text('新增检测单')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>

				<button id="exportButton" class="btn btn-primary" title="${text('导出检测单')}"><i class="fa"></i> ${text('导出')}</button>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${checkBill}" action="${ctx}/check/checkBill/listData" method="post" class="form-inline "
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('检测单号')}：</label>
					<div class="control-inline">
						<#form:input path="billId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('检测时间')}：</label>
					<div class="control-inline">
						<#form:input id="checkTime_gte" value="" path="checkTime_gte" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({startDate:'%y-%M-01',dateFmt:'yyyy-MM-dd',isShowClear:false,onpicked:function(){checkTime_lte.click()}});"/>
						&nbsp;--&nbsp;
						<#form:input id="checkTime_lte" value="" path="checkTime_lte" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('车牌号')}：</label>
					<div class="control-inline">
						<#form:input path="plateNumber" maxlength="20" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('客户名称')}：</label>
					<div class="control-inline">
						<#form:input path="customerName" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button id="reset" type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
	// 对Date的扩展，将 Date 转化为指定格式的String
	// 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，
	// 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
	Date.prototype.Format = function (fmt) { //author: meizz
		var o = {
			"M+": this.getMonth() + 1, //月份
			"d+": this.getDate(), //日
			"H+": this.getHours(), //小时
			"m+": this.getMinutes(), //分
			"s+": this.getSeconds(), //秒
			"q+": Math.floor((this.getMonth() + 3) / 3), //季度
			"S": this.getMilliseconds() //毫秒
		};
		if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
		for (var k in o)
			if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
		return fmt;
	}

	setQueryTimeValue();


// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("检测单号")}', name:'billId', index:'a.bill_id', width:150, align:"left", frozen:true},
		{header:'${text("检测时间")}', name:'checkTime', index:'a.check_time', width:200, align:"center"},
		{header:'${text("车牌号")}', name:'plateNumber', index:'a.plate_number', width:100, align:"center"},
		{header:'${text("客户编号")}', name:'customerId', index:'a.customer_id', width:200, align:"center"},
		{header:'${text("客户名称")}', name:'customerName', index:'a.customer_name', width:150, align:"center"},
		{header:'${text("联系方式")}', name:'customerPhoneNumber', index:'a.customer_phone_number', width:150, align:"center"},
		{header:'${text("客户地址")}', name:'customerAddress', index:'a.customer_address', width:150, align:"left"},
		{header:'${text("车型")}', name:'carType', index:'a.car_type', width:150, align:"center"},
		{header:'${text("实收金额(元)")}', name:'totalAmt', index:'a.total_amt', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, align:"center", formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('check:checkBill:edit')){ %>
				actions.push('<a href="${ctx}/check/checkBill/detail?id='+row.id+'" class="btnList btn btn-success btn-sm" title="${text("详情")}">详情</a>&nbsp;');
				actions.push('<button id="qq" onclick="tuidan(this)" value="'+row.id+'" class="btn-danger btn btn-sm " title="${text("退单")}"> 退单 </button>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	},
});

$('#exportButton').click(function () {
	var param = $("#searchForm").serialize();
    window.location.href="${ctx}/check/checkBill/export/excel?"+param;

});

function tuidan(obj) {
	var checkBillId = obj.value;

	js.confirm('确定退单吗?','${ctx}/check/checkBill/refund', {checkBillId:checkBillId}, function (data) {
		if(data.result == 'true'){
			js.alert(data.message, null, function () {
				$('#dataGrid').dataGrid('reloadGrid');
			});
		}else {
			js.alert(data.message)
		}

	}, 'json', true, '正在退单...');
}

$("#searchForm").submit(function () {
	var param = $("#searchForm").serialize();
	js.ajaxSubmit("${ctx}/check/checkBill/getStatistics",param,function (data) {
		log(data);
	})
});

	function setQueryTimeValue(){
		$("#checkTime_gte").attr("value",new Date().Format("yyyy-MM-dd"));
		$("#checkTime_lte").attr("value",new Date().Format("yyyy-MM-dd"));
	}


</script>